In [1]:
from main import main

In [2]:
from pathlib import Path
data_dir = Path.cwd().parents[2] / 'original_data/train'
rain, rain_st, tide, tide_st, water, water_st, dam, river_table, river_system_table = main(data_dir)

1. データ読み込み
 => complete
2. 3つのデータに前処理 & database化
 => complete
3. 1つのstationに対し値を一列に時系列で並べる
 => complete
4. 河川名、水系名について処理
 => complete

In [7]:
river_table

      id river
0      0
1      1    丁川
2      2   三永川
3      3  三津大川
4      4   三篠川
..   ...   ...
167  167   高光川
168  168   高屋川
169  169   高野川
170  170   黒瀬川
171  171   NaN

[172 rows x 2 columns]